.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
coverage/
dist/
*.iml
*.log
*.tmp
*.exe
*.dll
*.dylib
*.so
*.apk
*.app
*.dmg
*.deb
*.rpm
*.AppImage
core/krayn-core
core/krayn-core.exe
core/config.local.json

